*.sh
UnlearningMethods/base_models/UnlearnCanvas
Evaluation/UnlearnCanvas/classifiers/*.pth
__pycache__
cache
cad_temp
anchor_datasets
notebook_output
heatmap.ipynb
plotting_results.ipynb
scratch.txt
evaluation_folder
invest_folder
AGE_models
co_erasing_models
job_experiments
jobs
scratch.txt
BioAdapter_models